doctype
html(lang="pt-BR")
  head
    title=title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
     div(class="navbar navbar navbar-fixed-top")
      div(class="container")
         div(class="navbar-header")
            a(href="/" class="navbar-brand")
         div(class="navbar-collapse collapse" id="navbar-main")
   div(class="container")           
      block content
      //- footer
      //-       p 
      //-          strong Desenvolvido por LifeLink
