extends ../layout
block content
	h1= 'Aplicação teste'
	h3= 'Acione o menu para funcionalidades'
	pre= 'Aplicação voltada para testar algumas funcionalidades externas no node, crie qualquer coisa vc é livre mano, só não estraga a aplicação hein... :D '