block content
    div(class="alert alert-warning" role="alert")
        span(class="glyphicon glyphicon-exclamation-sign" aria-hidden="true")
        h7 &nbsp Existem 2 disciplinas iguais ou mais selecionadas favor repetir o processo!!