extends ../layout

block content
    h2 Confirmação de dados
    br
    form(method="POST", action="/usuario/confirmRegister", role="form")
        div(class="from-group")
            label Curso: 
            select(name="curso", class="form-control" required)
                option(value="") Selecione o curso
                option(value="SI") Sistemas de Informação
            br
        div(class="from-group")
            label Periodo:
            select(name="periodo_materia", class="form-control" required)
                option(value="1") 1º Período:
                option(value="2") 2º Período:
                option(value="3") 3º Período:
                option(value="4") 4º Período:
                option(value="5") 5º Período:
                option(value="6") 6º Período:
                option(value="7") 7º Período:
                option(value="8") 8º Período:
            br
        div(class="from-group")
            label Disciplina 1
            input(type="text", name="Disciplina1", class="form-control" placeholder="Árvore geradora" required)
            br
        div(class="from-group")
            label Disciplina 2
            input(type="text", name="Disciplina2", class="form-control" placeholder="Algoritimos em grafos" required)
            br
        div(class="from-group")
            label Disciplina 3
            input(type="text", name="livro3", class="form-control"  placeholder="SENHA : Grafos na pratica" required)
            br
        div(class="from-group")
            input(type="submit", class="btn btn-primary form-control")
            br
            br
            a(href="/" title="Voltar",class="btn btn-info form-control") Voltar
                    