extends ../layout

block content
    h2 Confirmação de dados
    br
    form(method="POST", action="/usuario/confirmRegister", role="form")
        if errorDisciplinasIguais
            include ../error/errorDisciplinasIguais
        div(class="from-group")
            label Curso: 
            select(name="curso", class="form-control" required)
                option(value="") Selecione o curso
                option(value="Sistemas de Informação") Sistemas de Informação
            br
        div(class="from-group")
            label Selecione as disciplinas 3
            select(name="periodo_materia1", class="form-control" required)
                option(value="") Selecione a disciplina 1
                option(value="ALGORITMOS E TÉCNICAS DE PROGRAMAÇÃO") ALGORITMOS E TÉCNICAS DE PROGRAMAÇÃO
                option(value="FILOSOFIA: RAZÃO E MODERNIDADE") FILOSOFIA: RAZÃO E MODERNIDADE
                option(value="FUNDAMENTOS DE ADMINISTRAÇÃO") FUNDAMENTOS DE ADMINISTRAÇÃO
                option(value="INTRODUÇÃO À COMPUTAÇÃO") INTRODUÇÃO À COMPUTAÇÃO
                option(value="MATEMÁTICA DISCRETA") MATEMÁTICA DISCRETA
            br
        div(class="from-group")
            select(name="periodo_materia2", class="form-control" required)
                option(value="") Selecione a disciplina 2
                option(value="ALGORITMOS E TÉCNICAS DE PROGRAMAÇÃO") ALGORITMOS E TÉCNICAS DE PROGRAMAÇÃO
                option(value="FILOSOFIA: RAZÃO E MODERNIDADE") FILOSOFIA: RAZÃO E MODERNIDADE
                option(value="FUNDAMENTOS DE ADMINISTRAÇÃO") FUNDAMENTOS DE ADMINISTRAÇÃO
                option(value="INTRODUÇÃO À COMPUTAÇÃO") INTRODUÇÃO À COMPUTAÇÃO
                option(value="MATEMÁTICA DISCRETA") MATEMÁTICA DISCRETA
            br
        div(class="from-group")
            select(name="periodo_materia3", class="form-control" required)
                option(value="") Selecione a disciplina 3
                option(value="ALGORITMOS E TÉCNICAS DE PROGRAMAÇÃO") ALGORITMOS E TÉCNICAS DE PROGRAMAÇÃO
                option(value="FILOSOFIA: RAZÃO E MODERNIDADE") FILOSOFIA: RAZÃO E MODERNIDADE
                option(value="FUNDAMENTOS DE ADMINISTRAÇÃO") FUNDAMENTOS DE ADMINISTRAÇÃO
                option(value="INTRODUÇÃO À COMPUTAÇÃO") INTRODUÇÃO À COMPUTAÇÃO
                option(value="MATEMÁTICA DISCRETA") MATEMÁTICA DISCRETA
            br
        div(class="from-group")
            input(type="submit", class="btn btn-primary form-control")
            br
            br
            a(href="/" title="Voltar",class="btn btn-info form-control") Voltar
                    